# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 我的个人博客
subtitle: 技术与生活随笔
description: 分享编程知识、技术思考和日常生活点滴。
keywords: 技术博客, 编程, Hexo, 个人分享
author: Gemini_AI
language: zh-CN
timezone: ''

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: https://yourusername.github.io/my-blog
permalink: :year/:month/:day/:title/
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: landscape

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  - type: git
    repository: <GitHub Pages Repo URL> # 例如: https://github.com/yourusername/yourusername.github.io.git
    branch: master # 或者 main

  - type: git
    repository: <Gitee Pages Repo URL> # 例如: https://gitee.com/yourusername/yourreponame.git
    branch: gh-pages # Gitee Pages 默认分支，或您配置的其他分支

# Theme Configuration (for landscape theme)
theme_config:
  menu:
    home: /
    archives: /archives
    categories: /categories
    tags: /tags
    about: /about
  avatar: /uploads/avatar.png # Optional: path to your avatar image
  rss: /atom.xml # Enable RSS feed
  social:
    github: # Your GitHub username
    twitter: # Your Twitter username
    weibo: # Your Weibo username

# Valine Comment System
inject:
  body_end:
    - '<div id="vcomments"></div>'
    - '<script src="//cdn.jsdelivr.net/npm/valine@1.4.14/dist/Valine.min.js"></script>'
    - '<script>'
    - '  new Valine({'
    - '    el: "#vcomments",'
    - '    appId: "YOUR_LEANCLOUD_APP_ID", // leancloud application app id'
    - '    appKey: "YOUR_LEANCLOUD_APP_KEY", // leancloud application app key'
    - '    pageSize: 10,'
    - '    avatar: "retro",'
    - '    placeholder: "有什么想说的吗？",'
    - '    visitor: true,'
    - '    // other config'
    - '  });'
    - '</script>'
